{% if game.fanarts | length != 0 %}
    <div class="row">

        <div id="carousel" class="flexslider">
            <ul class="slides">
                {% for art in game.fanarts %}
                    <li>
                        <img class="img-responsive" src="/images{{ asset(art.linkFile) }}" alt="image" />
                    </li>
                {% endfor %}                
            </ul>
        </div>

        <div id="slider" class="flexslider">
            <ul class="slides">
                {% for art in game.fanarts %}
                    <li>
                        <img class="img-responsive" src="/images{{ asset(art.linkFile) }}" alt="image" />
                    </li>
                {% endfor %}                
            </ul>
        </div>

    </div>
{% endif %}