{% extends 'layout/base.html.twig' %}

{% block body %}

    <div class="card mb-2">
        <div class="card-header bg-secondary">
            <h3>Welcome to the Open Game Data Base !</h3>
        </div>
        <div class="card-body">
            <h4 class="card-title">The project</h4>
            <p class="card-text">
                The goal of this project is to create an open database of all existing videogames.
                All data will be accessible via our API.
            </p>
            <p class="card-text">Based on the Symfony Framework.</p>
        </div>
        <hr>
        <div class="card-body">
            <h4 class="card-title">TheGamesDB</h4>
            <p class="card-text">This project was heavily inspired by the great TheGamesDB.net</p>
            <p class="card-text">Every issues and features requested were studied to create OpenGameDB's roadmap.</p>
        </div>
        <hr>

        <div class="card-body">
            <h4 class="card-title">Statut</h4>
            <p class="card-text">
                Actually, this is not even an alpha version but it is in active developpement.
                The database is regulary reloaded.
            </p>
        </div>
        <hr>

        <div class="card-body">
            <h4 class="card-title">Contact us</h4>
            <p class="card-text">Email : <a href="mailto:admin@opengamedb.org" target="_top">admin@opengamedb.org</a></p>
            <p class="card-text">Coming soon : twitter & forum</p>
        </div>
    </div>

    <div class="card mb-2">
        <div class="card-header bg-info">
            <h3 class="card-title">Current state <span class="badge">02 / September / 2017</span></h3>
        </div>
        <div class="card-body">
            <h4>Database migration</h4>
            <p>TheGamesDB's database was scrapped and modified with a lot of custom scripts.</p>
            <hr>
            <h4>Game version</h4>
            <p> The OpenGameDB can "group" games by distinguishing "Game" and "GameVersion". </p>
            <p>Exemple :</p>
            <p>Halo (Xbox) and Halo(PC) are grouped under "Halo"</p>
            <hr>
            <h4>Special edition</h4>
            <p>Special edition (limited, collector, etc...) are now a special type of "GameVersion"</p>
            <p>Exemple :</p>
            <p>"Halo 5 : Guardians Limited Edition" is grouped under "Halo 5 : Guardians"</p>
        </div>
    </div>

    <div class="card mb-2">
        <div class="card-header bg-success">
            <h3 class="card-title">Next step !</h3>
        </div>
        <div class="card-body">
            <h4>Communication & community</h4>
            <p>Provide tools necessary to communicate with people interrested in this project and begin building our community.</p>
            <p>Roadmap : what we are planning to</p>
            <p>Email : for those whishing to contact us</p>
            <p>Twitter : to follow us !</p>
            <p>Forum : for everyone wishing to share ideas</p>
        </div>
    </div>

{% endblock %}