
<div class="container-fluid">
    <div id="banniere_bande" class="row">
        <div class="col-xs-12">
            <a href="{{ path('homepage') }}"><img class="banniere_img img-responsive center-block" src="{{ asset('images/site/bannerws-thin-glass-v2.png') }}" alt="Gdb" /></a>
        </div>
    </div>

    <div id="menu_haut" class="row">
        {{ include('layout/main_navbar.html.twig') }}
    </div>


</div>

<div id="bradcrumbs" class="row">
</div>