/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4 janv. 2017, 21:32:54
    Author     : Ilikebunny
*/

@color1: black; /* */
@color2: #CECECE; /*  */
@color3: #3A3A3A; /*  */
@color4: #727272; /* */
@color5: #CECECE; /* */
@color6: #A8A8A8; /* */
@color7: #333333; /* card background color */


.banniere_img{
    height: 50px;
    /*    width: 100px;
        margin-bottom: 10px;
        margin-top: 10px;*/
}

.table_img{
    width: 60px;
}

.gallery_img{
    width: 100%;
    padding-top: 10px;
}

.navtab_img{
    height: 50px;
    padding-bottom: 10px;
}

.filter_img{
    width: 80px;
}


#logo{
    width: 180px;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 2;
}

#banniere_bande{
    height: 70px;
    background-color: @color1;
}
#menu_haut{
    /*background-color: #adc917;*/
}
.navbar-default {
    background-color: @color2;
    border-color: @color2;
    background-image: none;
    background-repeat: no-repeat;
}


#main{
    background-color: @color3;
}

.panel-heading{
    background-color: @color4;
}

.panel-body{
    background-color: @color5;
}

#main_content{
    min-height: 500px;
}    

body{
    background-color: @color3;
}

#main_panel{
    min-height: 800px;
}

.panel{
    background-color: @color5;
}    

#footer{
    background-color: @color6;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.vertical_center {
    display: flex;
    align-items: center;
}

.article_entete{
    background-color: @color1;
    a{
        background-color: @color1;
        color: whitesmoke;
    }
}

.article_summary{
    background-color: whitesmoke;
    color: black;
}

.article_header{
    font-style: italic;
    span{
        font-style: normal;
        color: orangered;
    }
}

span.fc-title {
    padding: 5px !important;
    text-overflow: ellipsis;
    white-space: pre-line;
}

#map { 
    height: 500px; 
}

.category_entete{
    height: 50px;
    margin-bottom: 5px;
}

.list_img{
    height: 50px;
    align-items: center;
    img{
        margin-bottom: 5px;
        margin-top: 5px;
        width: 50px;
    }
}

.list_title{
    height: 50px;
    h3{
        padding-bottom: 10px;
    }
}

.list_img2 img{
    margin-bottom: 5px;
    margin-top: 10px;
    width: 70px;
    max-height: 90px;
}

.list_text{
    min-height: 90px;
}

.product_list_item{
    margin-bottom: 15px;
    background-color: whitesmoke;
    background-color: @color3;
    min-height: 90px;
    a{
        color: black;
    }
}

.producteur_list_item{
    margin-bottom: 15px;
    background-color: whitesmoke;
    background-color: @color3;
    min-height: 90px;
    padding-left: 10px;
    a{
        color: black;
    }
}

.label_list{
    padding-bottom: 10px;
}

.panel-heading{
    height: 50px;
}

#admin_menu{
    margin-bottom: 10px;
}

.product_tag{
    margin-right: 5px;
}

.coordinateur_title{
    text-decoration: underline;
}

.fa{
    margin-right: 2px;
    width: 14px;
}

.fiche_produit{
    background-color: @color3;
}

.fiche_produit_entete{
    height: 50px;
    background-color: @color2;
    div{
        height: 50px;
    }
    h3{
        padding-bottom: 10px;
    }
}

.fiche_produit_content{
    margin-bottom: 5px;
}

.fiche_produit_major{
    font-weight: bold;
}

.action_column{
    width: 140px;
}

.aside_title{
    font-weight: bold;
    text-decoration: underline;
}

.admin_gallery_preview{
    max-height: 200px;
}

/*Jquery date picker menu*/
.ui-datepicker .ui-datepicker-title select {
    color: #000;
}

.card_row{
    margin-bottom: 10px;
}

.card_row h3 {
    margin-top: 0px;
}

#flipBoxart{
    margin-bottom: 10px;
}

.flex-caption {
    width: 100%;
    padding: 2%;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.3);
    font-size: 14px;
    line-height: 18px;
}

.card_img-wrapper{
    /*    position: relative;
        padding-bottom: 100%;
        overflow: hidden;
        width: 100%;*/

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /*height:240px;*/
}

.card_img-wrapper img {
    /*    position: absolute;
        top:0;
        left:0;
        height:100%;*/
    height:150px;
    width:auto;

}
