{% if platform.banners | length != 0 %}
    <div class="row">
        <div id="flexslider_simple" class="flexslider">
            <ul class="slides">
                {% for art in platform.banners %}
                    <li>
                        <img class="img-responsive" src="/images{{ asset(art.linkFile) }}" alt="image" />
                    </li>
                {% endfor %}                
            </ul>
        </div>
    </div>
{% endif %}