

<h3>Generation Navigation</h3>
<div id="tree">
</div>

{#<div id="tree_test">
    {{ tree | json_encode() }}
</div>#}

<script type="text/javascript">
    jQuery(document).ready(function ($) {
        var tree = {{ tree | json_encode() | raw }};
                $('#tree').treeview({
            color: "#428bca",
            expandIcon: "glyphicon glyphicon-plus",
            collapseIcon: "glyphicon glyphicon-minus",
    {#            nodeIcon: "glyphicon glyphicon-user",#}
                enableLinks: true,
                showTags: true,
                data: tree, // data is not optional
                levels: 1
    {#            backColor: 'blue'#}
            });
        });
</script>